---
import { default as Layout } from "@/src/layouts/layout.astro"
import { default as UserList } from "@/src/components/clerk-user.astro"
import { getRole } from "@/src/lib/query/profile"
import { style } from "@/src/styles/component"

const profile = Astro.locals.profile
if (!profile) {
  return Astro.redirect("/sign-in")
}
const role = getRole({ profile })
if (!role || !role.isManagement()) {
  return Astro.redirect("/dashboard")
}

const query = Astro.url.searchParams.get("query")
const paging = Astro.url.searchParams.get("page") ?? "0"
---

<Layout title="管理者メニュー">
  <h1 class={style.text.title()}>アカウント一覧</h1>
  <form class={style.form.container()} method="GET">
    <input
      type="search"
      name="query"
      value={query ?? ""}
      placeholder="検索"
      class={style.form.input()}
    />
    <button type="submit" class={style.form.button({ span: "single" })}>検索</button>
  </form>
  <p class="text-sm text-slate-500 dark:text-slate-400 mb-4 mt-0.5">
    * メールアドレス、ユーザー名、ユーザーID、姓名で検索できます
  </p>
  <UserList query={query} paging={paging} />
</Layout>
