---

import { default as Layout } from "@/src/layouts/layout.astro"
import Grid from "@/rr7/components/ui/Grid"
import { AppIcon } from "@/rr7/components/ui/AppIcon"
import { AddRecord } from "@/rr7/components/component/AddRecord"
import { Recents } from "@/rr7/components/component/Recents"
import { style } from "@/src/styles/component"
import type { PagePath } from "@/src/type"
import NextGrade from "@/rr7/components/component/NextGrade"
const userId = Astro.locals.auth().userId!
const apps: PagePath[] = [
  {
    name: "記録",
    href: "/apps/record",
    desc: "稽古の記録をつける",
  },
  ...Astro.locals.paths
    .filter((p) => p.name !== "ホーム")
    .map((p) => ({
      name: p.name,
      href: p.href,
      desc: p.desc,
    })),
]
---

<Layout title="ダッシュボード">
  <NextGrade client:load />
  <h1 class={`mt-4 ${style.text.title()}`}>記録追加</h1>

  <AddRecord client:load />

  <Recents userId={userId} />

  <hr />
  <Grid>
    {apps.map((app: PagePath) => <AppIcon title={app.name} id={app.href} desc={app.desc} />)}
  </Grid>
</Layout>
