---
import Icon from "./Icon.astro"
import { style } from "@/src/styles/component"
---

<footer class="flex flex-col items-center justify-center p-4 bg-slate-300 dark:bg-slate-800">
  <div class="text-center items-center p-4">
    <p class="text-slate-700 dark:text-slate-300">
      © OMU Aikido Club All Rights Reserved.<br />
      〒599-8531 大阪府堺市中区学園町1番1号 大阪公立大学合氣道部
    </p>
  </div>

  <div>
    <a href="/privacy-policy" class={style.footer.link()}>プライバシーポリシー</a>
    <a href="/terms-of-service" class={style.footer.link()}>利用規約</a>
  </div>

  <div class="flex flex-row items-center justify-center p-4">
    <a
      href="https://twitter.com/fudaiaiki"
      aria-label="旧府大合氣道部 Twitter"
      class={style.footer.social.link()}
    >
      <Icon icon="twitter-logo" />
      <span class={style.footer.social.text()}>旧府大Twitter</span>
    </a>
    <a
      href="https://twitter.com/new_ocuaikido"
      aria-label="旧市大合気道サークル Twitter"
      class={style.footer.social.link()}
    >
      <Icon icon="twitter-logo" />
      <span class={style.footer.social.text()}>旧市大Twitter</span>
    </a>
    <a
      href="https://instagram.com/hamudaiaikidoubu"
      aria-label="Instagram"
      class={style.footer.social.link()}
    >
      <Icon icon="instagram-logo" />
      <span class={style.footer.social.text()}>Instagram</span>
    </a>
    <a href="https://github.com/omu-aikido" aria-label="GitHub" class={style.footer.social.link()}>
      <Icon icon="github-logo" />
      <span class={style.footer.social.text()}>GitHub</span>
    </a>
  </div>
</footer>
