---
import Head from "@/src/components/root/head.astro"
import Baselayout from "./baselayout.astro"
import Footer from "@/src/components/root/footer.astro"
const textLinks: { label: string; href: string }[] = []
import { style } from "@/src/styles/component"

const APP_NAME = "大阪公立大学合気道部"
interface Props {
  title: string
}

const homelink = "/"
const { title } = Astro.props
---

<Baselayout>
  <Head title=`${APP_NAME} - ${title}` />
  <body class="flex-col min-h-dvh">
    <header
      class="m-0 py-0 px-6 top-0 z-50 sticky bg-slate-200/70 dark:bg-slate-800/90 text-slate-900 dark:text-slate-200 flex justify-between items-center h-20"
    >
      <h2 class="items-center-safe justify-items-center md:w-1/5">
        <a class="items-center-safe justify-items-center text-xl font-bold" href={homelink}
          >{title}</a
        >
      </h2>
      {
        textLinks.length > 0 && (
          <div class="hidden sm:flex">
            <nav class={`${style.header.navigation.block()}`}>
              {textLinks.map((link) => (
                <a
                  href={link.href}
                  class={style.header.navigation.link({
                    active: Astro.url.pathname.startsWith(link.href),
                  })}
                  aria-current={
                    link.href === "/"
                      ? Astro.url.pathname === "/"
                        ? "page"
                        : undefined
                      : Astro.url.pathname.startsWith(link.href)
                        ? "page"
                        : undefined
                  }
                >
                  {link.label}
                </a>
              ))}
            </nav>
          </div>
        )
      }
    </header>
    <div class="p-6 mx-auto max-w-5xl">
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</Baselayout>
