---
interface Props {
    apps: { name: string; path: string; desc: string }[];
}

const { apps } = Astro.props;

import Modal from "./modal.astro";
const user = await Astro.locals.currentUser();
if (!user) {
    return Astro.redirect("/sign-in");
}
import { style } from "@/src/styles/component";
import { SignedIn, SignedOut, SignInButton } from "@clerk/astro/components";
---

<Modal position="right" icon="  ⵗ  ">
    <div class="m-0 p-0">
        <SignedOut>
            <SignInButton mode="modal" style="display: flex" />
        </SignedOut>
        <SignedIn>
            <a class={style.header.clerk.name()} href="/account">
                <img
                    src={user.imageUrl}
                    alt={`Profile picture of ${user.firstName} ${user.lastName}`}
                    class={style.header.clerk.icon()}
                />
                <span>{user.lastName} {user.firstName}</span>
            </a>
            <hr />
            {
                apps.map((app) => (
                    <div class="flex flex-col">
                        <a class={style.header.link()} href={app.path}>
                            {app.name}
                        </a>
                    </div>
                ))
            }
        </SignedIn>
    </div>
</Modal>
