---
import { style } from "@/src/styles/component";
const userId = Astro.locals.auth().userId!;
import { actions } from "astro:actions";
import Notification from "./notification.astro";

const result = Astro.getActionResult(actions.record.add);
---

{
    result && !result.error && (
        <Notification
            title="記録の追加"
            message="記録が正常に追加されました。"
            type="success"
            duration={3000}
        />
    )
}
{
    result && result.error && (
        <Notification
            title="記録の追加"
            message={`記録の追加に失敗しました: ${result.error.message}`}
            type="error"
            duration={5000}
        />
    )
}

<form
    method="POST"
    action={actions.record.add}
    class={style.form.container({})}
>
    <input type="hidden" name="userId" class="hidden" value={userId} />
    <label for="date" class="text-sm font-medium">
        日付<span class={style.text.necessary()}>*</span>
    </label>
    <input
        type="date"
        id="date"
        name="date"
        value=`${(new Date()).toISOString().split('T')[0]}`
        class={style.form.input({})}
        required
    />

    <label for="period" class="text-sm font-medium">
        稽古時間<span class={style.text.necessary()}>*</span>
    </label>
    <input
        type="number"
        id="period"
        name="period"
        value="1.5"
        step="0.5"
        class={style.form.input()}
        required
    />
    <button type="submit" id="record-submit" class={style.form.button()}>
        {"追加"}
    </button>

    <script>
        const form = document.querySelector("form")!;
        const button = document.getElementById(
            "record-submit"
        ) as HTMLButtonElement;
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            button.textContent = "送信中...";
            button.classList.add(
                "text-slate-800",
                "dark:text-slate-100",
                "bg-slate-300",
                "dark:bg-slate-600",
                "cursor-pointer"
            );
            button.disabled = true;
            form.submit();
        });
    </script>
</form>
